{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us - Depann Mo Loto{% endblock %}

{% block content %}
<div class="contact-page">
  <div class="contact-main">
    <div class="contact-container-2">
      <div class="contact-div-wrapper"><div class="contact-text-wrapper-2">Contact Us</div></div>
      <div class="contact-div-wrapper">
        <p class="contact-text-wrapper-3">Get in touch with our team for all your car servicing needs</p>
      </div>
    </div>
    
    <div class="contact-container-wrapper">
      <div class="contact-container-3">
        <div class="contact-heading"><div class="contact-text-wrapper-4">Our Locations</div></div>
        <div class="contact-container-4">
          <div class="contact-background-border">
            <div class="contact-div-wrapper-2"><div class="contact-text-wrapper-5">Vacoas Branch</div></div>
            <div class="contact-div-wrapper-2"><div class="contact-text-wrapper-6">123 Royal Road, Vacoas</div></div>
            <div class="contact-div-wrapper-2"><div class="contact-text-wrapper-7">Tel: +230 686 1234</div></div>
          </div>
          <div class="contact-background-border">
            <div class="contact-div-wrapper-2"><div class="contact-text-wrapper-5">Port Louis Branch</div></div>
            <div class="contact-div-wrapper-2"><p class="contact-text-wrapper-6">456 Sir William Newton Street, Port Louis</p></div>
            <div class="contact-div-wrapper-2"><div class="contact-text-wrapper-7">Tel: +230 212 5678</div></div>
          </div>
          <div class="contact-background-border">
            <div class="contact-div-wrapper-2"><div class="contact-text-wrapper-5">Flacq Branch</div></div>
            <div class="contact-div-wrapper-2"><p class="contact-text-wrapper-6">789 Royal Road, Centre de Flacq</p></div>
            <div class="contact-div-wrapper-2"><div class="contact-text-wrapper-7">Tel: +230 413 9012</div></div>
          </div>
          <div class="contact-background-border">
            <div class="contact-div-wrapper-2"><div class="contact-text-wrapper-5">Goodlands Branch</div></div>
            <div class="contact-div-wrapper-2"><div class="contact-text-wrapper-6">321 Royal Road, Goodlands</div></div>
            <div class="contact-div-wrapper-2"><div class="contact-text-wrapper-7">Tel: +230 283 4567</div></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="contact-background-border-2">
      <div class="contact-heading-2"><div class="contact-text-wrapper-8">Business Hours</div></div>
      <div class="contact-container-5">
        <div class="contact-container-6">
          <div class="contact-div-wrapper"><div class="contact-text-wrapper-9">Monday - Friday</div></div>
          <div class="contact-div-wrapper"><p class="contact-text-wrapper-3">8:00 AM - 6:00 PM</p></div>
        </div>
        <div class="contact-container-7">
          <div class="contact-div-wrapper"><div class="contact-text-wrapper-9">Saturday</div></div>
          <div class="contact-div-wrapper"><p class="contact-text-wrapper-3">8:00 AM - 4:00 PM</p></div>
        </div>
        <div class="contact-container-6">
          <div class="contact-div-wrapper"><div class="contact-text-wrapper-9">Sunday</div></div>
          <div class="contact-div-wrapper"><div class="contact-text-wrapper-3">Emergency Only</div></div>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="contact-footer">
    <div class="contact-container-8">
      <p class="contact-p">© 2025 Depann Mo Loto. Professional car servicing across Mauritius.</p>
    </div>
  </footer>
</div>
{% endblock %}




